/* ============================== Content Main Style ============================== */
.edit {
  border-right: 2px solid #2bce56;
  padding-right: 3rem;
}
.edit__label {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--dark-color);
}
.edit__input {
  width: 100%;
  border: none;
  border: 1px solid #2bce56;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: #464749;
}
.edit__help {
  display: block;
  font-style: italic;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.edit__password {
  margin-top: 2rem;
}
.edit__password-title {
  border-bottom: 2px solid #2bce56;
  display: block;
}
.edit__btn {
  border: none;
  margin-top: 2rem;
  background-color: #2bce56;
  color: var(--white-color);
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.7rem 1rem;
  transition: all 400ms ease;
}
.edit__btn:hover {
  background-color: #33be58;
}
/* ============================== Content Main Style ============================== */
