.course-box {
  background-color: var(--white-color);
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
  border-radius: 1rem;
  margin: 2rem 0;
  transition: all 400ms ease;
  position: relative;
  z-index: 99999;
}

.course-box:hover {
  transform: translateY(-0.6rem);
}

.course-box__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.course-box__main {
  padding: 0 1.2rem;
}

.course-box__title {
  display: block;
  padding: 1rem 0;
}

.course-box__rating-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-box__teacher {
  display: flex;
  align-items: center;
}

.course-box__teacher-icon {
  color: #6c757d;
  font-size: 1.8rem;
}

.course-box__teacher-link {
  color: #6c757d;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.course-box__star {
  margin: -0.2rem;
}

.course-box__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.course-box__users-icon {
  color: #6c757d;
  font-size: 1.6rem;
}

.course-box__users-text {
  color: #6c757d;
  font-size: 1.4rem;
}

.course-box__price {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.course-box__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0;
  border-top: 1px solid #e8e8e8;
}

.course-box__footer-link {
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.course-box__footer-icon {
  margin-right: 0.5rem;
  font-size: 1.9rem;
}

.courses-box__discount {
  position: absolute;
  left: -0.7rem;
  top: -0.7rem;
  background-color: #2bce56;
  padding: 0.3rem 1.3rem;
  font-size: 1.4rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  transform: rotate(-10deg);
  transition: all 400ms ease;
  z-index: 99999;
}
.course-box:hover .courses-box__discount {
  transform: rotate(0deg);
}
.courses-box__price-discount {
  color: #2bce56;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.courses-box__undiscount {
  font-size: 1.4rem;
  position: relative;
}
.courses-box__undiscount::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(117, 117, 117);
  right: 0;
  z-index: 999;
  top: 1rem;
}
.main-price {
  text-decoration: line-through;
  color: orange !important;
}
.price-discount {
  font-weight: bold;
  display: block !important;
  color: #2bce56 !important;
}
