.comments {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.comments__title {
  color: var(--dark-color);
  font-size: 1.2rem;
}

.comments__text {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.comments_content {
  display: flex;
  flex-direction: column;
}

.comments__content-title {
  font-size: 1.5rem;
  color: #6c757d;
}

.comments__content-textarea {
  height: 18.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dcdcdc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
}

.comments__button {
  margin-top: 2rem;
  max-width: 15rem;
  padding: 0.8rem 1.7rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
